apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "api-platform.fullname" . }}
  labels:
    {{- include "api-platform.labels" . | nindent 4 }}
data:
  php-app-env: {{ .Values.php.appEnv | quote }}
  php-app-debug: {{ .Values.php.appDebug | quote }}
  php-cors-allow-origin: {{ .Values.php.corsAllowOrigin | quote }}
  php-trusted-hosts: {{ .Values.php.trustedHosts | quote }}
  php-trusted-proxies: "{{ join "," .Values.php.trustedProxies }}"
  mercure-url: "http://{{ include "api-platform.fullname" . }}/.well-known/mercure"
  mercure-public-url: {{ .Values.mercure.publicUrl | default "http://127.0.0.1/.well-known/mercure" | quote }}
  vick-uploader-uri-prefix: {{ .Values.php.vickUploaderUriPrefix | default "https://api.cobalt-dev.origamilab.ch/media" | quote }}
  mailer-dsn: {{ .Values.php.mailerDsn | quote }}
  mail-from: {{ .Values.php.mailFrom | quote }}
  base-url: {{ .Values.php.baseUrl | quote }}
