apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: php-public-media-pvc
spec:
  resources:
    requests:
      storage: 3Gi
  storageClassName: scw-bssd
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
